body{
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#LogoAp{
    width: 150px;
}
a img{
    width: 50px;
    margin-top: 15px;
    float: right;
}
.col{
    margin:0;
    padding:0;
}

.container{
    margin-left:0;
    max-width: 1350px;
}
.btn{
    background-color: #9beb38;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    margin-top: 18px;
    font-size:20px;
    float: right;
    border-radius:10px;
}
#Banner{
    width: 100%;
}