body{
    background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#LogoAp{
    width: 150px;
}
a img{
    width: 50px;
    margin-top: 15px;
    float: right;
}
.col{
    margin:0;
    padding:0;
}

.container{
    margin-left:0;
    max-width: 1350px;
}
.btn{
    background-color: #9beb38;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    margin-top: 18px;
    font-size:20px;
    float: right;
    border-radius:10px;
}
#Banner{
    width: 100%;
}